USE [master]
GO
/****** Object:  Database [NemoLesMeilleurs]    Script Date: 22/03/2023 10:19:13 ******/
CREATE DATABASE [NemoLesMeilleurs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nemo les meilleurs', FILENAME = N'/var/opt/mssql/data/Nemo les meilleurs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Nemo les meilleurs_log', FILENAME = N'/var/opt/mssql/data/Nemo les meilleurs_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NemoLesMeilleurs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NemoLesMeilleurs]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 22/03/2023 10:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[id] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[firstname] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
